[Unit]
Description=Telegram DHCP notfier

[Service]
ExecStart=/opt/telegram_dhcp_notifier/bot.py
EnvironmentFile=/opt/telegram_dhcp_notifier/vars

[Install]
WantedBy=multi-user.target
